*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Robot Slab';
}

.banner{
    background-color: #1F2937;
}

.banner-content{
    display:flex;
}

#logo{
    color: #f9faf8;
    font-size: 24px;
}

.list{
    font-size:18px;
    color:#E5E7EB;
    margin: 10px;
}

ul{
    display:flex;
    list-style-type: none;
}

.banner-left,.banner-right{
    display:flex;
    width:50%;
    justify-content: center;
    align-items:center;
}

h1{
    font-size:48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.content{
    display:flex;
    justify-content: center;
    align-items:center;
    margin: 64px;
    color:#E5E7EB;
}

.content-left,.content-right{
    display:flex;
    width:50%;
    flex-direction:column;
    margin-bottom:72px;
}

.content-right{
    display:flex;
    margin-left:32px;
    background-color:rgb(125, 125, 125);
    text-align:center;
    padding:64px;
    max-width:200px;
}

#button-top{
    height:28px;
    width:100px;
    background-color:#3882F6;
    border:0px;
    color:white;
}

h2{
    text-align:center;
    font-size:36px;
    color: #1f2937;
    font-weight:bolder;

}

.row-of-boxes{
    display:flex;
    text-align:center;
    padding:63px;
    justify-content: center;
}

.box{
    border:2px solid #3882F6;
    padding:50px;
    border-radius:25px;
    margin:20px;
}

.section-three{
    display:flex;
    background-color:#E5E7EB;
    padding:80px;
}

#section-three-para{
    font-size:36px;
    font-style: italic;
}

#quote-author{
    text-align:right;
}

.section-four{
    display:flex;
    align-items:center;
    justify-content: center;
}

.call-to-action-box{
    display:flex;
    background-color:#3882F6;
    color:#E5E7EB;
    padding:40px;
    margin:80px;
    max-width: 500px;
    justify-content:center;
    align-items: center;
}

#button-bottom{
    border:2px solid white;
    padding:10px;
    border-radius:25px;
    background-color:#3882F6;
    color:white;
    display:flex;
}

.call-to-action-left{
    display:flex;
    flex-direction:column;
    width:80%;
    justify-content:center;
}

.footer{
    background-color:#1F2937;
    text-align:center;
    padding:32px;
    color:white;
    justify-content: center;
}